.body{
    display: inline-flex;
    position: relative;
    top:150px;
    left: 35%;
}
.container1
{
    margin-top: 15px;
    display: block;
    border:1px solid black;
    height: 315px;
    width: 150px;
}
.container2
{
    display: inline-flex;
}
.container3
{
    margin-top: 15px;
    margin-left: 15px;
    display: block;
    border:1px solid black;
    height: 150px;
    width: 150px;
}
.container1_2
{
    display: block;
    width: 500px;
}