<div class="body">
    
    <div class="container1"><a routerLink="/first"><img src="../../assets/menu/image_1.jpg"></a></div>
        <div class="container1_2">
            <div class="container2">
                <div class="container3"><a routerLink="/second"><img src="../../assets/menu/image_2.jpg"></a></div>
                <div class="container3"><a routerLink="/third"><img src="../../assets/menu/image_3.jpg"></a></div>
                <div class="container3"><a routerLink="/fourth"><img src="../../assets/menu/image_4.jpg"></a></div>
                <div class="container3"><a routerLink="/fifth"><img src="../../assets/menu/image_3.jpg"></a></div>
            </div>
            <div class="container2">
                <div class="container3"><a routerLink="/sixth"><img src="../../assets/menu/image_6.jpg"></a></div>
                <div class="container3"><a routerLink="/seventh"><img src="../../assets/menu/image_7.jpg"></a></div>
                <div class="container3"><a routerLink="/eights"><img src="../../assets/menu/image_8.jpg"></a></div>
                <div class="container3"><a routerLink="/nineths"><img src="../../assets/menu/image_9.jpg"></a></div>
            </div>
        </div>
</div>