.body{
    display: inline-flex;
    position: relative;
    top:150px;
    left: 35%;
}
.container1
{
    margin-top: 15px;
    display: block;
    border:1px solid black;
    height: 315px;
    width: 150px;
}
.container2
{
    display: inline-flex;
}
.container3
{
    margin-top: 15px;
    margin-left: 15px;
    display: block;
    border:1px solid black;
    height: 250px;
    width: 180px;
}
.container3>a>img
{
    width: 100%;
    overflow:hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.container1_2
{
    display: block;
    width: 500px;
}