<div class="body">
    
    <div class="container1"><a routerLink="/first">1</a></div>
        <div class="container1_2">
            <div class="container2">
                <div class="container3"><a routerLink="/second">2</a></div>
                <div class="container3"><a routerLink="/third">3</a></div>
                <div class="container3"><a routerLink="/fourth">4</a></div>
                <div class="container3"><a routerLink="/fifth">5</a></div>
            </div>
            <div class="container2">
                <div class="container3"><a routerLink="/sixth">6</a></div>
                <div class="container3"><a routerLink="/seventh"><img src="../../assets/menu/5565412.jpg"></a></div>
                <div class="container3"><a routerLink="/eights">8</a></div>
                <div class="container3"><a routerLink="/nineths">9</a></div>
            </div>
        </div>
</div>