<div class="wrapper">
    <div class="back" routerLink="/menu" routerLinkActive="active">
        Back
    </div>
    <div class="card">
        <div class="logo"><img src="../../assets/4/logo.png" alt="Logo"></div>
        <div class="titlebg"><img src="../../assets/4/titlebg.png" alt=""></div>
        <div class="title"><img src="../../assets/4/title.png" alt="Title"></div>
        <div class="subtitle">shop now</div>
        <div class="salebg"><img src="../../assets/4/salebg.png" alt=""></div>
        <div class="sale"><img src="../../assets/4/sale.png" alt=""></div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo dolor vulputate ligula congue eleifend. Praesent porttitor eros.</div>
        <div class="loginbg"><img src="../../assets/4/loginregbg.png" alt=""></div>
        <div class="login">login / register</div>
        <div class="home">Home</div>
        <div class="men">Men</div>
        <div class="women">Women</div>
        <div class="kids">Kids</div>    
        <div class="contact">Contact</div>
        <div class="t01">01</div>
        <div class="arrows"><img src="../../assets/4/slide.png" alt=""></div>
        <div class="c1"><img src="../../assets/4/c1.png" alt=""></div>
        <div class="c2"><img src="../../assets/4/c2.png" alt=""></div>
        <div class="c3"><img src="../../assets/4/c3.png" alt=""></div>
        <div class="c5"><img src="../../assets/4/c5.png" alt=""></div>
        <div class="x1"><img src="../../assets/4/x1.png" alt=""></div>
        <div class="x2"><img src="../../assets/4/x2.png" alt=""></div>
        <div class="x3"><img src="../../assets/4/x5.png" alt=""></div>
        <div class="x4"><img src="../../assets/4/x4.png" alt=""></div>
        <div class="x5"><img src="../../assets/4/x5.png" alt=""></div>
        <div class="instagram"><i class="fab fa-instagram"></i></div>
        <div class="facebook"><i class="fab fa-facebook"></i></div>
        <div class="twitter"><i class="fab fa-twitter-square"></i></div>
        <div class="pinterest"><i class="fab fa-pinterest-square"></i></div>
    </div>
</div>