.body
{
    background: rgb(222, 222, 222);
    margin: 0px;
    width: 100%;
    height: 945px;
    text-align: center;
}
.component6>img
{
    top: 60px;
    position: absolute;
    width: 60%;
    left: 400px;
}
.button
{
    top: 60px;
    left: 100px;
    position: relative;
    font-size: medium;
}
ul {
    list-style-type:none;
}
ul li a {
    text-decoration:none;
    color:rgb(131, 25, 67);
}
.skillsDouble {
    float: left;
    margin-right: 1px;
}
.skillsDouble li {
    width:150px;
    padding: 11px 16px;
    text-align:center;
    float:left;
    background:  rgb(253, 174, 53);
    background: linear-gradient(to right,  rgb(253, 174, 53) 50%,  rgb(248, 57, 0) 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    margin-left:10px;
    transition:all 2s ease;
}
.skillsDouble li:hover {
    background-position:right bottom;
}
.skillsDouble li a {
    color:white;
}